@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
   background-image: url(./assets/images/background-pattern-desktop.svg);
   background-repeat: no-repeat;
   background-color: hsl(275, 100%, 97%);
   font-family: 'Work Sans', sans-serif;
   font-size: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}
.header  {
    display: flex;
}
article {
    background-color: #fff;
    border-radius: 10px;
    width: 450px;
    padding: 20px;

}

.question1, .question2, .question3, .question4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question:hover {
    color:  rgb(173, 40, 235);;
    cursor:pointer;
}
#images {
    cursor: pointer;
}
#hidden-answer1, #hidden-answer2, #hidden-answer3, #hidden-answer4  {
    display: none;
    color:  hsl(292, 16%, 49%);
}
button {
    border: none;
    background-color: #fff;
}

hr {
    opacity: 0.1;
}

@media screen and (max-width:530px){
    article{
        width: 375px;
    }
}



@media screen and (max-width:375px){
    body {
        background-image: url(./assets/images/background-pattern-mobile.svg);
    }
    article{
        width: 280px;
    }
}